/* this is the stylesheet for template 3 */

/*--------- Hide Navbar ----------*/

.cc-cms-body-header ion-toolbar  {
    --ion-color-base: rgba(0,0,0,0)!important;
}

cc-toolbar-left ion-button:nth-child(2) {
    display:none;
}

cc-toolbar-left ion-button,
cc-toolbar-right i {
    color:var(--cc-accent-color)!important;
    --cc-text-on-primary-color:var(--cc-accent-color)!important;
}

.app__body {
    margin-top:-56px!important;
}

/*-------------------------------*/
/*--------- Template 3 ----------*/
/*-------------------------------*/
/*Template Date: 19/08/2021*/

.home-container {
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr; 
}

.widget {
    height:100%;
    display:flex;
    justify-content:flex-end;
    color:#fff;
    background-color:#3C3C3C;
    padding:2rem;
    transition:0.4s;
    cursor:pointer;
}

.widget.bottom {
    justify-content:flex-start;
}

.title-box {
    align-items: flex-end;
    text-align:right;
}

.title-box img {
    width: auto;
    margin-right:1rem;
    height: calc(50vh - 7rem);
}

.text-box {
    flex-direction:column;
}

.text-box h2 {
    text-transform:uppercase;
    font-weight:900;
    margin: 8px 0px 0px;
}

.image-box {
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
}

.header-box {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

img.arrow {
    height:20px;
    width:auto;
    display:block;
    content:url('https://media.crowdcomms.com/media/app_images/f63a7b49cd4d4f34b367a0ad9990deac.png');
}

/*--------- Hover Effects ----------*/


@media (min-width: 420px) {
    
    .widget:hover {
        filter:brightness(0.6);
    }
    
    .button-widget:hover {
        background-color:rgba(0,0,0,0.2);
    }
}

.meeting:active .cta  {
    background-color:var(--cc-text-on-accent-color);
    color:var(--cc-accent-color);
}

/*--------- Animation ----------*/

.widget, .image-box {
    animation-duration:1s;
    animation-direction:normal;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}

.widget {
    animation-name:slide-up;
}

.image-box {
    animation-name:slide-down;
}


@keyframes slide-up {
from { transform:translatey(-100%); opacity:0; }
to { transform:translatey(0); opacity:1; }
}

@keyframes slide-down {
from { transform:translatey(100%); opacity:0; }
to { transform:translatey(0); opacity:1; }
}

@keyframes slide-left {
from { transform:translatex(100%); opacity:0; }
to { transform:translatex(0); opacity:1; }
}


/*--------- Small Screen + Tablet Adjustments ----------*/

@media (max-width: 900px) { 
    
    .home-container {
        height:auto;
        min-height: 100vh;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    }
    
    .widget, .image-box {
        border-bottom:3px solid #fff;
    }
    
    .widget.bottom {
        justify-content:flex-end;
    }
    
}

/*--------- Mobile Adjustments ----------*/

@media (max-width: 420px) { 
    
    .home-container {
        grid-template: 1fr 1fr 1fr 1fr 1fr / 3fr 1fr;
    }
    
    .title-box {
        flex-direction:column;
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .title-box img {
        margin:40px 0px 32px;
        content:url('https://media.crowdcomms.com/media/app_images/0cad2702a5da45e48680decc116d7655.png');
        width:100%;
        height:auto;
    }
    
    .image-box:nth-child(2) {
        display: none;
    }
    
    .header-box {
        order:-1;
    }
    
}