{% macro widget( temListImg, cardStatus, cardTitle, cardDesc )%}
<article class="home-new-feat_doc">
    <article class="card">
        <figure class="new-feature-hero" style="background-image:url('{{ temListImg }}')"></figure>
        <div class="card-feature_info">
            <div class="card-feature-info_desc">
                <div class="card-badge">{{ cardStatus }}</div>
                <div class="card-title">{{ cardTitle }}</div>
                <p>{{ cardDesc }}</p>
            </div>
            <figure class="new-feat_photos">
                <img src="./assets/images/uploads/brussels-sprouts-on-green-concrete.jpeg" alt="">
                <img src="./assets/images//uploads/data.jpeg" alt="">
                <img src="./assets/images/uploads/download.png" alt="">
            </figure>
        </div>
    </article>
</article>
{% endmacro %}