---
title: Template Builder
layout: layouts/base.njk
permalink: /
---
    
<div class="menu-container dis-flex">
    <section class="widget dis-flex" href="/{{ template.url }}">
        <h2>{{ template.title }}</h2>
    </section> 
</div>