/* this is the stylesheet for template 6 */

/*--------- Hide Navbar ----------*/

.cc-cms-body-header ion-toolbar  {
    --ion-color-base: rgba(0,0,0,0)!important;
    }

    cc-toolbar-left ion-button:nth-child(2) {
        display:none;
    }
    
    cc-toolbar-left ion-button,
    cc-toolbar-right i {
        color:var(--cc-card-background)!important;
        --cc-text-on-primary-color:var(--cc-card-background)!important;
    }
    
    .app__body {
        margin-top:-56px!important;
    }
    

 /*-------------------------------*/
 /*--------- Template 6 ----------*/
 /*-------------------------------*/
 /*Template Date: 19/08/2021*/


    .dis-flex {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
    }
    
    .home-container {
        width:100%;
        min-height:100vh;
        overflow-x:hidden;
        flex-direction:column;
        flex-wrap:nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .header {
        width:100%;
    }
    
    .header img {
        width:80%;
        max-width:500px;
        display:block;
        margin:40px auto;
    }
    
    .menu-container {
        max-width:1000px;
        align-items: flex-start;
    }
    
    .widget {
        width:160px;
        margin:18px;
        flex-direction:column;
        transition:0.4s;
        cursor:pointer;
    }
    
    .icon-back {
        width:90px;
        height:90px;
        background-color:var(--cc-accent-color);
        color:var(--cc-accent-color-contrast);
        transition:0.4s;
    }
    
    .icon-back i {
        width:50px;
        height:50px;
        font-size:50px;
    }
    
    .widget span {
        margin-top:12px;
        text-transform:uppercase;
        width:90%;
        text-align:center;
        font-size:0.9em;
        font-weight:700;
        color:white;
    }
    

 /*--------- Hover Effects ----------*/
 
 
    @media (min-width: 420px) {
        .widget:hover .icon-back  {
            background-color:var(--cc-accent-color-contrast);
            color:var(--cc-accent-color);
        }
    
    }
    
    .widget:active .icon-back  {
        background-color:var(--cc-accent-color-contrast);
        color:var(--cc-accent-color);
    }


/*--------- Tablet Adjustments ----------*/
    
    @media (max-width: 960px) { 
        
        .home-container {
            margin-top:64px;
            height:auto;
        }
        
        .widget {
            width:16vw;
            height:16vw;
            margin:16px;
        }
        
        .icon-back {
            width:70px;
            height:70px;
        }
        
        .icon-back i {
            width:40px;
            height:40px;
            font-size:40px
        }
        
    }
    
    
/*--------- Mobile Adjustments ----------*/
    
    @media (max-width: 720px) { 
        
        .home-container {
            margin-top:64px;
            height:auto;
        }
        
        
        .widget {
            width:25vw;
            height:auto;
            margin:8px;
            flex-direction:row;
        }
        
        .icon-back {
            width:80px;
            height:80px;
        }
        
        .icon-back i {
            width:40px;
            height:40px;
            font-size:40px
        }
        
        .widget span {
            font-size:0.7em;
            width:100%;
            margin-top:8px;
        }
        
    }