---
layout: 'layouts/base.njk'
---

<div class="copy-html-container">
{% set css %}
{% include 'template1.css' %}
{% endset %}
<!-- Copied from my template builder -->
    <style>
        {{ css | safe }}
    </style>
    <div class="home-container" style="background-image:url('{{ backgroundImage | url }}');">
        <div class="central-container">
            <img class="logo" src="{{ titleLogo | url }}">
            <div class="content-container">
                <div class="header-container">
                    <div class="text-container">
                        <p>{{ titleDescription }}</p>
                        <cc-open-module class="button-widget" id="">
                            <div>
                                <h2>{{ primaryCTA }}</h2>
                                <span>{{ primaryCTADescription }}</span>
                            </div>
                            <img class="arrow accent" src="{{ widgetArrow | url }}">
                        </cc-open-module>
                    </div>
                <video allowfullscreen="" controls poster="{{ titleVideoPoster | url }}">
                    <source src="{{ titleVideo | url }}" type="video/mp4">
                </video>                
                </div>
                <div class="menu-container">
                    {%- for widget in widgets -%}
                        <cc-open-module class="widget" id="">
                            <div class="widget-image" style="background-image:url('{{ widget.widgetImage | url }}');"></div>
                            <h2>{{ widget.widgetName }}</h2>
                            <img class="arrow" src="{{ widgetArrow | url }}">
                        </cc-open-module>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>
<button class="copy-html-button">
    copy to clipboard
</button>
{% set js %}
    {% include "copyToClipboard.js" %}
{% endset %}
<script>
    {{ js | safe}}
</script>