{% set css %}
    {% inclue "/css/template6.css" %}
{% endset %}
<style>
    {{ css | safe }}
</style>
<div class="home-container dis-flex">
    <div class="header">
        <img src="{{ widget.headerImg | url }}">
    </div>
    <div class="menu-container dis-flex">
         <cc-open-module alt="Test Test" class="widget dis-flex" id="{{widget.id}}">
            <div class="icon-back dis-flex">
                <i class="material-icons">{{widget.icon}}</i>
            </div>
            <span>{{widget.name}}</span>
        </cc-open-module>
    </div>
</div>