/* this is the stylesheet for template 4 */

/*--------- Hide Navbar ----------*/

.cc-cms-body-header ion-toolbar  {
    --ion-color-base: rgba(0,0,0,0)!important;
}

cc-toolbar-left ion-button:nth-child(2) {
    display:none;
}

cc-toolbar-left ion-button,
cc-toolbar-right i {
    color:var(--cc-card-background)!important;
    --cc-text-on-primary-color:var(--cc-card-background)!important;
}

.app__body {
    margin-top:-56px!important;
}

/*-------------------------------*/
/*--------- Template 4 ----------*/
/*-------------------------------*/
/*Template Date: 19/08/2021*/


.home-container {
    width:100%;
    min-height:100%;
    display:flex;
    flex-direction:column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}

.home-container h2 {
    color:#fff;
    text-transform:uppercase;
    font-size:2em;
    font-weight:900;
    margin:0px;
}

.feature-panel {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    grid-area: 1 / 1 / 5 / 2; 
    color:var(--cc-default-text-color);
    background-image:url('https://media.crowdcomms.com/media/app_images/7036f0396d6d473cb689138a6da05e17.png');
    background-size:cover;
    background-position:center;
    animation-name:slide-up;
}

.title-container {
    padding:1.6rem;
    width:90%;
    max-width:620px;
}

.title-container img {
    width:100%;
    max-width:420px;
}

.title-container p {
    width:100%;
    max-width:480px;
}

.overlay {
    background-color:rgba(0,0,0,0.7);
    width:100%;
    color:#fff;
    height:25%;
}

.widget {
    background-size:cover;
    background-position:center;
    animation-name:slide-left;
    transform:translatex(100%);
}

.widget,
.overlay {
    display: flex;
    transition:0.4s;
    cursor:pointer;
    flex-direction: column;
    justify-content: flex-end;
}

.gradient-container {
    height:60%;
    display:flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    align-items: flex-end;
}

.arrow-container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    max-width:420px;
    padding:1.6rem;
}

.overlay .arrow-container {
    max-width:640px;
}

.text-container {
    color:#fff;
}

.text-container span {
    font-weight:900;
    font-size: 0.8em;
}


img.arrow {
    height:48px;
    width:auto;
    display:block;
    content:url('https://media.crowdcomms.com/media/app_images/f63a7b49cd4d4f34b367a0ad9990deac.png');
}


/*--------- Hover Effects ----------*/

@media (min-width: 420px) {
    .widget:hover,
    .overlay:hover {
        filter: brightness(0.8);
        background-color:rgba(0,0,0,0.8);
    }
}


/*--------- Animation ----------*/

.feature-panel, .widget {
    animation-duration:1s;
    animation-direction:normal;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}

.widget:nth-child(3) {
    animation-delay:0.2s;
}

.widget:nth-child(4) {
    animation-delay:0.4s;
}

.widget:nth-child(5) {
    animation-delay:0.6s;
}

@keyframes slide-up {
from { transform:translatey(-100%); opacity:0; }
to { transform:translatey(0); opacity:1; }
}


@keyframes slide-left {
from { transform:translatex(100%); opacity:0; }
to { transform:translatex(0); opacity:1; }
}



/*--------- Small Screen + Tablet Adjustments ----------*/

@media (max-width: 1279px) { 
    .title-container {
        margin-top:52px;
    }
    
    img.arrow {
        display:none;
    }

}

/*--------- Mobile Adjustments ----------*/

@media (max-width: 600px) { 
    
    .home-container {
        min-height:200vh;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    }
    
    .feature-panel {
        grid-area: 1 / 1 / 4 / 2; 
    }
}