{% set css %}
    {% inclue "/css/template1.css" %}
{% endset %}
<style>
    {{ css | safe }}
</style>
<div class="home-container">
    <div class="central-container">
        <img class="logo" src="{{ tem1.logo | url }}">
        <div class="content-container">
            <div class="header-container">
                <div class="text-container">
                    <p>{{ tem1.title }}</p>
                    <cc-open-module class="button-widget" id="{{}}">
                        <div>
                            <h2>{{ cta.title }}</h2>
                            <span>{{ cta.description }}</span>
                        </div>
                        <img class="arrow accent" src="{{ cta.action | url }}">
                    </cc-open-module>
                </div>
               <video allowfullscreen="" controls poster="{{ video.poster | url }}">
                   <source src="{{ video.video | url }}" type="video/mp4">
               </video>                
            </div>
            
            <div class="menu-container">
                <cc-open-module class="widget" id="{{ widget.id }}">
                    <div class="widget-image" style="background-image:url('{{ widget.url | url }}');"></div>
                    <h2>{{ widget.title }}</h2>
                    <img class="arrow" src="{{ widget.arrow | url }}">
                </cc-open-module>
            </div>
        </div>
    </div>
</div>