{% set css %}
    {% inclue "/css/template12.css" %}
{% endset %}
<style>
    {{ css | safe }}
</style>
<div class="home-container">    
    <div class="logo-container">
        <img src="{{ tem12.header.img | url }}">
    </div>
    <div class="central-container">
        <div class="text-container">
            <h1>{{ tem12.header.title }}</h1>
        </div>
        <div class="video-container">
            <iframe allowfullscreen="" height="360" src="{{ tem12.header.video | url }}" width="640"></iframe>
        </div>
    </div>
    <div class="menu-container">
        <cc-open-module class="widget" id="{{ tem12.widget.id }}">
            <span>{{ tem12.widget.title }}</span>
        </cc-open-module>  
    </div>
</div>