{% set css %}
    {% inclue "/css/template3.css" %}
{% endset %}
<style>
    {{ css | safe }}
</style>
<div class="home-container">     
    <div class="widget title-box">
        <img src="{{ logo | url }}">
        <p>{{ title }}</p>
    </div>
    <div class="image-box" style="background-image:url('{{ imagebox.images | url }}')"></div>
    <cc-open-module class="widget text-box" id="xxxxx">
        <p>{{ widget.desc }}</p>
        <div class="header-box">
            <h2>{{ widget.title }}</h2>
            <img class="arrow" src="{{ widget.cta | url }}">
        </div>
    </cc-open-module>
    <div class="image-box" style="background-image:url('{{ imagebox.images | url }}')"></div>
</div>